html * {
  margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

#wrap {
  background: #ffffff;
  color: #404040;
  margin: 0 auto;
  width: 900px;
}

#header img {
  border: none;
}

.spinner {
  padding: 5px;
  position: absolute;
  right: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 11px verdana, arial, helvetica, sans-serif;
  background: #f4f4f4 url(../images/skin/bg.gif) top center repeat-y;
  color: #404040;
}

a:link, a:visited, a:hover {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: #006dba;
  font-weight: normal;
  font-size: 16px;
  margin: .8em 0 .3em 0;
}

ul {
  padding-left: 15px;
}

input, select, textarea {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  font: 11px verdana, arial, helvetica, sans-serif;
  margin: 2px 0;
  padding: 2px 4px;
}

select {
  padding: 2px 2px 2px 0;
}

textarea {
  width: 250px;
  height: 150px;
  vertical-align: top;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #b2d1ff;
}

.body {
  float: left;
  margin: 0 15px 10px 15px;
}

/***** Left sidebar *****/

#leftside {
  float: left;
  width: 140px;
  margin: 5px 0 5px;
  padding: 0;
}

#leftside h2, #leftside h3 {
  color: #333;
  background-color: inherit;
  font-size: 1.3em;
  margin: 0 0 5px;
  padding: 0;
}

#leftside div.announce {
  line-height: 1.4em;
  background: #f3f8fc;
  border: 1px solid #b2d1ff;
  clear: left;
  margin: 10px 0 15px;
  padding: 5px 5px;
  width: 140px;
  font-size: 0.9em;
  border-top: 1px solid #cccccc;
}

#leftside div.announce p {
  margin: 10px 0 0;
  padding: 0;
}

#leftside select {
  width: 100%;
}

ul.avmenu {
  width: 140px;
  margin: 0 0 18px;
  font-size: 0.9em;
  padding: 0;
  list-style: none;
}

ul.avmenu li {
  width: 140px;
  color: #333;
  padding: 0;
  line-height: 1.4em;
  display: inline;
}

ul.avmenu li a {
  color: #5f5f5f;
  width: 130px;
  float: left;
  margin-bottom: 5px;
  margin-left: 2px;
  padding: 5px 1px 5px 5px;
  text-decoration: none;
}

ul.avmenu li a:hover {
  color: #006dba;
  background: url(../images/skin/pointer.gif) -1px 50% no-repeat;
}

ul.avmenu li a.home {
  background: url(../images/skin/house.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

ul.avmenu li a.list {
  background: url(../images/skin/database_table.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

ul.avmenu li a.create {
  background: url(../images/skin/database_add.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

ul.avmenu ul {
  margin: 0 0 0 15px;
  padding: 0 0 5px 0;
  font-size: 0.9em;
  width: 125px;
}

ul.avmenu ul a {
  padding: 3px 1px 3px 5px;
  font-weight: normal;
  width: 115px;
}

ul.avmenu ul ul {
  width: 113px;
}

ul.avmenu ul ul a {
  width: 100px;
}

/* Main content */
#content {
  line-height: 1.7em;
  margin: 0px 0 10px 120px;
  padding: 10px 10px 10px 30px;
  text-align: left;
}

/* Footer */
#footer {
  background: #fff;
  border-top: 1px solid #f0f0f0;
  clear: both;
  color: #808080;
  font-size: 0.9em;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  width: 760px;
}

#footer p {
  margin: 0;
  padding: 0;
}

#footer a {
  background: inherit;
  color: #808080;
  font-weight: 400;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer span {
  font-size: 1.2em;
}

/* NAVIGATION MENU */

.nav {
  background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  border-style: solid none solid none;
  margin-top: 5px;
  margin-left: 12px;
  padding: 3px 6px;
}

.menuButton {
  font-size: 10px;
  padding: 0 5px;
}

.menuButton a {
  color: #333;
  padding: 4px 6px;
}

.menuButton a.home {
  background: url(../images/skin/house.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

.menuButton a.list {
  background: url(../images/skin/database_table.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

.menuButton a.create {
  background: url(../images/skin/database_add.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
  background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
  border: 1px solid #b2d1ff;
  color: #006dba;
  margin: 10px 0 5px 0;
  padding: 5px 5px 5px 30px
}

div.errors {
  background: #fff3f3;
  border: 1px solid red;
  color: #cc0000;
  margin: 10px 0 5px 0;
  padding: 5px 0 5px 0;
}

div.errors ul {
  list-style: none;
  padding: 0;
}

div.errors li {
  background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
  line-height: 16px;
  padding-left: 30px;
}

td.errors select {
  border: 1px solid red;
}

td.errors input {
  border: 1px solid red;
}

/* TABLES */

table {
  border: 1px solid #ccc;
  width: 100%
}

tr {
  border: 0;
}

td, th {
  font: 11px verdana, arial, helvetica, sans-serif;
  line-height: 12px;
  padding: 5px 6px;
  text-align: left;
  vertical-align: top;
}

th {
  background: #fff url(../images/skin/shadow.jpg);
  color: #666;
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
  color: #333;
  display: block;
  font-size: 10px;
  text-decoration: none;
  width: 100%;
}

th.asc a, th.desc a {
  background-position: right;
  background-repeat: no-repeat;
}

th.asc a {
  background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
  background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
  background: #f7f7f7;
}

.even {
  background: #fff;
}

.running-even {
  cursor: pointer;
  color: #009900;
  border-left: 5px solid #009900;
  background: #fff;
}

.running-odd {
  cursor: pointer;
  color: #009900;
  border-left: 5px solid #009900;
  background: #f7f7f7;
}

.pending-even {
  cursor: pointer;
  color: #000066;
  border-left: 5px solid #000066;
  background: #fff;
}

.pending-odd {
  cursor: pointer;
  color: #000066;
  border-left: 5px solid #000066;
  background: #f7f7f7;
}

.invalid-even {
  cursor: pointer;
  color: #cc0000;
  border-left: 5px solid #cc0000;
  background: #fff;
}

.invalid-odd {
  cursor: pointer;
  color: #cc0000;
  border-left: 5px solid #cc0000;
  background: #f7f7f7;
}

.interrupted-even {
  cursor: pointer;
  color: #ff9900;
  border-left: 5px solid #ff9900;
  background: #fff;
}

.interrupted-odd {
  cursor: pointer;
  color: #ff9900;
  border-left: 5px solid #ff9900;
  background: #f7f7f7;
}

.paused-even {
  cursor: pointer;
  color: #afaeae;
  border-left: 5px solid #afaeae;
  background: #fff;
}

.paused-odd {
  cursor: pointer;
  color: #afaeae;
  border-left: 5px solid #afaeae;
  background: #f7f7f7;
}

/* LIST */

.list table {
  border-collapse: collapse;
}

.list th, .list td {
  border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
  background: #b2d1ff;  
}

/* PAGINATION */

.paginateButtons {
  background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  border-top: 0;
  color: #666;
  font-size: 10px;
  overflow: hidden;
  padding: 10px 3px;
}

.paginateButtons a {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #ccc #aaa #aaa #ccc;
  color: #666;
  margin: 0 3px;
  padding: 2px 6px;
}

.paginateButtons span {
  padding: 2px 3px;
}

/* DIALOG */

.dialog table {
  padding: 5px 0;
}

.prop {
  padding: 5px;
}

.prop .name {
  text-align: left;
  width: 15%;
  white-space: nowrap;
}

.prop .value {
  text-align: left;
  width: 85%;
}

/* ACTION BUTTONS */

.buttons {
  background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  color: #666;
  font-size: 10px;
  margin-top: 5px;
  overflow: hidden;
  padding: 0;
}

.buttons input {
  background: #fff;
  border: 0;
  color: #333;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin-left: 3px;
  overflow: visible;
  padding: 2px 6px;
}

.buttons input.delete {
  background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
  padding-left: 28px;
}

.buttons input.edit {
  background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
  padding-left: 28px;
}

.buttons input.save {
  background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
  padding-left: 28px;
}

/* Sliders */
.track {
  position: relative;
  background: transparent url(../images/slider-images-track-right.png) no-repeat top right;
}

.track-left {
  position: relative;
  width: 5px;
  height: 9px;
  background: transparent url(../images/slider-images-track-left.png) no-repeat top left;
}

.handle {
  position: absolute;
  height: 1em;
  width: 0.25em;
  top: -0.25em;
  cursor: move;
  z-index: 2;
}