.editbox {
  margin: .4em;
  padding:5px;
  font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
  font-size: 10pt;
  color: black;
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.js-punctuation {
  color: black;
}

span.js-operator {
  color: black;
}

span.js-keyword {
  color: black;
}

span.js-atom {
  color: black;
}

span.js-variable {
  color: black;
}

span.js-variabledef {
  color: black;
}

span.js-localvariable {
  color: black;
}

span.js-property {
  color: black;
}

span.js-comment {
  color: black;
}

span.js-string {
  color: black;
}
